:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: 	#572d6a;
  margin: 0 auto !important;
  padding: 0 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
}


#root {
  width: 100vw;

}

a {
  font-weight: 500;
  color: #bf922a;
  text-decoration: inherit;
}
a:hover {
  color: #bf922a;
}

body {
  margin: 0;
  padding-top: 1rem;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color:#bf922a;
  -webkit-text-stroke: 1px #020101;
}
li {
  list-style-type: none;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 10rem;
  outline: none !important;
}
button:hover {
  border-color: #bf922a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.header {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: fit-content;
  background-color: #302f2f;
  padding: 0.3rem 0;
}

.header h4 {
  font-size: 0.85em;
  padding-left: 1rem;
  padding-top: 15px;
}

.page {
  padding-top: 17px;
  height: fit-content;
  width: 100vw;
}

/* img {
  width: 380px;
  height: 380px;
  border-radius: 8px;
  object-fit: cover;
} */
.type-select {
  color: rgba(255, 255, 255)!important;
  background-color: #1a1a1a !important;
  border-radius: 8px !important;
  width: 210px;
}

.outer-cont {
  display: flex;
  align-items: flex-start;
  justify-content:space-around;
  gap: 2rem;
  padding: 1rem 3rem 3rem 3rem;
  flex-wrap: wrap;
}

.champ-cont {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: -33px;
 
}
.champ-cont button {
  color: rgba(255, 255, 255);
}
.build-cont {
  width: fit-content;
}
.build-cont h3 {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 21px;
}

.champion-info h3 {
  font-weight: 900;
  margin: 0;
  padding: 0.65rem;
  font-size: 1.85rem;
  -webkit-text-stroke: 1px #020101;
}

.champion-info p {
  margin-top: 0;
  font-size: 0.8rem;
}
.filter-cont {
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(12, 12, 12);
}

.sub-group {

  display: flex!important;
}

.MuiBox-root {
  display: flex;
  flex-direction: column;
  /* padding: 0.5rem; */
  gap: 1rem;

}
.MuiFormLabel-root {
  color: rgba(255, 255, 255) !important;   
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}


.filters {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

 h5 {
  background-color: #302f2f;
  margin-top: 0;
  padding: 5px 0;
}

.h5 {
  margin-bottom: 0px;
}

.stats-cont {
  flex-basis: 25%;
  background-color: rgb(12, 12, 12);
  min-height: 226px;
}


.stats-flex {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  text-wrap: nowrap;
  flex-wrap: wrap;
  padding: 1rem;
}

.stats-flex  > div {
  flex: 1 1 45%;
  background-color: #302f2f;
  padding: 2px 4px;
  border-radius: 4px;
  max-width: 269px;
  
} 


.item {
  position: relative;
}

.default {
  width: 500px;
  padding-top: 2rem;
}

.default p {
  margin-top: 2.5rem;
}


.build-flex {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-evenly;
  background-color: rgb(12, 12, 12);
  padding: 1rem;
  border-radius: 8px;
  min-width: fit-content;
  margin-bottom: 4px;
 
}



tr:hover {
  cursor: pointer;
} 


.build-flex h6 {
  background-color: #302f2f;
  width: 100%;
  text-wrap: nowrap;
  padding: 3px 0;
  margin: 0;
}

.build-cont img {
  width: 90px;
  padding: 1rem;
  object-fit: cover;
}


.tooltip {
  position: absolute;
  background-color: #0b0b0b;
  opacity: 0.8;
  right: -80px;
  top: -35px;
  padding: 5px;
  z-index: 999;
  width: 100%;
  border-radius: 8px;
}
.tooltip span {
  font-size: 0.9rem;
}

.tool-name {
  color:#bf922a;
  font-weight: 800;
}

.tool-cost {
  margin-top: 1em;
}

/* * {
  outline: 3px solid red;
} */

.nav {
  margin-top: 83px;
  background-color:#1a1a1a;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  width: 100%;
}

.middle-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 0;
  max-width: 230px;
}
.name-select {

  background-color: rgb(12, 12, 12);
  max-width: fit-content;
  align-self: flex-end;
  margin-top: 2rem;
}

.data-table{
  height: 600px;
  min-height: 600px;
  overflow: scroll;
  background-color: #1a1a1a !important;
}

table {
  height: max-content;
  width: max-content;
}


.MuiTableRow-root * {
  /* background-color:#302f2f !important; */
  font-size: 13px !important;
}

.MuiTableRow-hover:hover {
  background-color: rgb(65, 63, 54) !important;
}

tr {
  overflow-x: scroll;
}
 th {
  text-wrap: nowrap;
  max-height: 20px !important;
  color: #f9f9f9 !important;
  font-size: 12px !important;
  text-align: center !important;
  outline: 1px solid #f9f9f9;
  min-width: 70px;
  min-height: 70px;
  padding: 0.75rem !important;
}


.table-header * {
  background-color: #1a1a1a !important;
  font-weight: 600 !important;
}


.table-img {
  width: 35px !important;
  height: 35px !important;
  overflow: hidden;

}

.css-1yhpg23-MuiTableCell-root {
  padding: 7px;
}


.radio-group {
flex-direction: row !important;
}

.sort-arrow {
  position: absolute;
  background-color: transparent !important;
  right: 10%;

}

.order-random {
  text-wrap: wrap !important;
  min-width: 65px;
}

.filters-flex {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0.5rem 0;
  
}

.filters-flex > * {
  background-color: #302f2f;
  padding: 0.5rem 1rem 0rem 1rem;
  border-radius: 8px;
  box-shadow: rgba(59, 59, 58, 0.24) 0px 3px 8px;
}


.empty-row * {
  font-size: 3rem !important;
  
}
.empty-row {
  position: relative !important;
}


.empty-row td {
  padding-left: 3rem !important;
  background-image: url('/champions/troll.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.radio-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 0;

}
.builder-container {
  padding: 0.3rem 0.3rem 7rem;
}

.builder-container > * {
  padding: 0.7rem 1.5rem;
}

.none-selected {
  height: 100px;
  text-align: center;
}

.img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
}

.cancel {
  color: rgb(203, 20, 20);
}

.filters-flex {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

div.err-div:hover {
  background-color: #FF4500;
}

@media screen and (max-width: 1575px) {
  .forMedia {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .err-div {
    align-self: flex-start !important;
  }
}